#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 

.App{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f3f3f;
  border: 2px solid white;
  border-radius: 0 40px 0 40px;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.5);
}

.quote-container:hover{
  transition: ease-in-out 1s;
  transform: scale(1.1) rotate(2deg);
}
.author-align{
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.foot-container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-top: 15px;
  color: crimson;
}

